.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); 
    margin: 15% auto; /* 15% from the top and centered */
    padding: 30px;
    border: 0px solid #888;
    border-radius: 10px; 
    width: 400px /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#image-container {
    position: fixed;
    left: 0;
    width: 100%; 
    height: 100%;
    background-image: url("./patrick-tomasso-499112-unsplash.jpg");
    background-size: cover;
}

h1 {
    color: white;
    font-family: 'Pacifico', cursive;
    margin-bottom: -10px;
    font-size: 40px;
}